.container {
    border: 1px solid  black;
    border-radius: 8px;
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
    margin-bottom: 20px;
}

.title {
    border-bottom: 1px solid black;
    padding: 20px 5px;
    margin-top: 0;
    font-size: 40px;
    text-transform: uppercase;
}

.content {
    padding: 16px;
}